<footer>
    <div class="content">
        <div class="left">
            <div class="title">
                <img src="logo.jpg">
                <p>Bistro Bliss</p>
            </div>
            <p class="words">In the new era of technology we look a in the future with certainty and pride to for our company and.</p>
            <div class="icons">
                <img src="1.jpg">
                <img src="2.jpg">
                <img src="3.jpg">
                <img src="4.jpg">

            </div>
        </div>
    </div>
</footer>
