<body>
    <div class="landing-section">
        <img class="landing-img" src="b1.jpg">
    <div class="landing-text">
    <h1 class="firsts">Best food for<br/>your taste</h1>
    <p class="s">Discover delectable cuisine and unforgettable moments<br/> in our welcoming, culinary haven.</p>  
        <div class="buttons">
        
            <button class="b2"><a routerLink="/menu">Explore Menu</a></button>
        </div>  
    </div>
</div>
</body>
<div class="menu">
    
        
    <h4> Browse Our Menu </h4>
    <div class="the-images">
        <div class="bg">
        <div class="card">
            
            <img src="tea.jpg"  class="sora" />
                <h5>Breakfast</h5>
            <p>>In the new era of technology we look in the future with certainty and pride for our life.
            </p>
            <a routerLink="/menu">Explore More →</a>
            
        </div>
        </div>
        <div class="bg">
        <div class="card">
            
            <img src="br.jpg"  class="sora" />
            <h5>Main Dishes</h5>
            <p>>In the new era of technology we look in the future with certainty and pride for our life.
            </p>
            <a routerLink="/menu">Explore More →</a>
            
            
        </div>
        </div>

        <div class="bg">
        <div class="card">

            <img src="drinks.jpg" class="sora" />
            <h5>Drinks</h5>
            <p>>In the new era of technology we look in the future with certainty and pride for our life.
            </p>
            <a routerLink="/menu">Explore More →</a>
        </div>
        </div>

        <div class="bg">
        <div class="card">
        
            
            <img src="desserts.jpg"  class="sora" />
            
            <h5>Desserts</h5>
            <p>>In the new era of technology we look in the future with certainty and pride for our life.
            </p>
            <a routerLink="/menu">Explore More →</a>
            
        </div>
        </div>
    </div>
    </div>

    <div class="section3">
        <div class="content">
            <img src="b3.jpeg">
            <div class="left">
                <h2>We provide healthy food for your family.</h2>
                <p>Our story began with a vision to create a unique dining experience that merges fine dining, exceptional service, and a vibrant ambiance. Rooted in city's rich culinary culture, we aim to honor our local roots while infusing a global palate.</p>
                <p class="ptwo"> At place, we believe that dining is not just about food, but also about the overall experience. Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.</p>
                <button class="b1"><a routerLink="/contact">Explore Our Branches</a></button>
            </div>
        </div>
    </div>
