<div class="contact-us">
    <div class="header">
      <h1>Contact Us</h1>
      <p>We are here to assist you. Reach out to any of our branches and have an unforgettable experience.</p>
    </div>
  
    <div class="branches">
      <div class="branch">
        <h2>Head Office</h2>
        <p><strong>Phone:</strong> 010097457953</p>
        
        <p><strong>Address:</strong> new cairo,future mall</p>
      </div>
  
      <div class="branch">
        <h2>Branch 1</h2>
        <p><strong>Phone:</strong> 01068054685</p>
        
        <p><strong>Address:</strong> Nasr city,street 8</p>
      </div>
  
      <div class="branch">
        <h2>Branch 2</h2>
        <p><strong>Phone:</strong> 012235690645</p>
        
        <p><strong>Address:</strong> Madinty Open air mall</p>
      </div>
    </div>
  </div>
  
